body 
{
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.bus-header 
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 35px;
    overflow: hidden;
    display: flex;
    background-color: #a63d40;
}

.bus-header a
{
    float: left;
    color: #ebe54d;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 6px;
}

.bus-header a:hover
{
    color: #fff;
}

.bus-row 
{
    margin-left: 0;
    margin-right: 0;
}






/* dla komputerów stacjonarnych */
@media (min-width: 1300px) 
{
    body
    {
        width: 550px;
    }

    .bus-row 
    {
        display: inline;
    }

    .bus-left 
    {
        width: 440px;
        float: left;
    }

    .bus-right 
    {
        width: 110px;
        float: right;
    }

    .bus-Buttons 
    {
        width: 100%;
        height: 35px;
        background-color: #a63d40;
        color: white;
        font-size: 14px;
        font-weight: bold;
        margin: 8px 2px 0 2px;
    }

    .bus-1stLine 
    {
        clear: both;
        display: block;
    }

    .bus-2ndLine
    {
        clear: both;
        display: block;
    }

    .bus-footer 
    {
        position: fixed;
        bottom: 0;
        width: 550px;
        height: 23px;
        margin: 0 auto;
        background-color: #a63d40;
        color: #ebe54d;
        font-size: 12px;
        text-align: center;
        padding: 10px 0 0 0;
    }

    #ddl_busSelect
    {
        margin: 4px auto;
        width: 100px;
        height: 40px;
        font-size: 24px;
        font-weight: bold;
        color: darkblue;
    }

    #bt_busSelect {
        margin: 4px auto;
        width: 50px;
        height: 40px;
        font-size: 24px;
        font-weight: bold;
        background-color: #a63d40;
        color: #ebe54d;
    }
}

/* dla telefonów o niskich rozdzielczościach - układ pionowy */
@media (max-width: 450px) and (min-width: 350px) 
{
    body 
    {
        width: 350px;
    }

    .bus-row 
    {
        display: block;
    }

    .bus-left 
    {
        width: 100%;
        height: 40%;
        float: left;
    }

    .bus-right 
    {
        position: fixed;
        bottom: 28px;
        width: 355px;
        float: left;
    }

    .bus-Buttons 
    {
        width: 100%;
        height: 35px;
        background-color: #a63d40;
        color: white;
        font-size: 14px;
        font-weight: bold;
        margin: 2px;
    }

    .bus-1stLine 
    {
        clear: both;
        display: flex;
    }

    .bus-2ndLine 
    {
        clear: both;
        display: flex;
    }

    .bus-footer 
    {
        position: fixed;
        bottom: 0;
        width: 359px;
        height: 21px;
        margin: 0 auto;
        background-color: #a63d40;
        color: #ebe54d;
        font-size: 14px;
        text-align: center;
        padding: 4px 0 0 0;
    }

    .busTable 
    {
        background-color: #FFFFCC;
        border-color: Fuchsia;
        border-style: solid;
        margin: 0 auto;
        width: 340px;
        height: 200px;
    }
}

/* dla telefonów komórkowych o niskiej rozdzielczości - układ poziomy */
@media (max-width: 600px) and (min-width: 550px) 
{
    body 
    {
        width: 550px;
    }

    .bus-row 
    {
        display: inline;
    }

    .bus-left 
    {
        width: 440px;
        float: left;
    }

    .bus-right 
    {
        width: 110px;
        float: right;
    }

    .bus-Buttons 
    {
        width: 100%;
        height: 29px;
        background-color: #a63d40;
        color: white;
        font-size: 14px;
        font-weight: bold;
        margin: 6px 2px 0 2px;
    }

    .bus-1stLine 
    {
        clear: both;
        display: block;
    }

    .bus-2ndLine 
    {
        clear: both;
        display: block;
    }

    .bus-footer 
    {
        position: fixed;
        bottom: 0;
        width: 550px;
        height: 23px;
        margin: 0 auto;
        background-color: #a63d40;
        color: #ebe54d;
        font-size: 16px;
        text-align: center;
        padding: 4px 0 0 0;
    }

    .busTable 
    {
        background-color: #FFFFCC;
        border-color: Fuchsia;
        border-style: solid;
        margin: 0 auto;
        width: 435px;
        height: 200px;
    }
}