body 
{
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.bus-header 
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 35px;
    overflow: hidden;
    display: flex;
    background-color: #a63d40;
}

.bus-header a
{
    float: left;
    color: #ebe54d;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 6px;
}

.bus-header a:hover
{
    color: #fff;
}

.bus-footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #a63d40;
    color: white;
    font-size: 14px;
    text-align: center;
}

.bus-row 
{
    margin-left: 0;
    margin-right: 0;
}




@media (max-width: 365px)
{
    body
    {
        width: 350px;
        height: 590px;
    }

    .bus-row
    {
        display: block;
    }

    .bus-left 
    {
        clear: both;
    }

    .bus-right 
    {
        clear: both;
        display: block;
    }

    .bus-1stLine,
    .bus-2ndLine 
    {
        clear: both;
    }

    .cmd-button
    {
        width: 33.33333%
    }

    .bus-Buttons 
    {
        width: 100%;
        height: 35px;
        background-color: burlywood;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (max-width: 450px) and (min-width: 365px)
{
    body 
    {
        width: 440px;
        height: 350px;
    }

    .bus-row 
    {
        display: inline;
    }

    .bus-left 
    {
        clear: both;
    }

    .bus-right 
    {
        clear: both;
        display: block;
    }

    .bus-1stLine,
    .bus-2ndLine 
    {
        clear: both;
        display: block;
    }

    .cmd-button 
    {
        width: 28%
    }

    .bus-Buttons 
    {
        width: 100%;
        height: 35px;
        background-color: burlywood;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}


@media (min-width: 1300px) 
{
    .bus-row {
        display: inline;
    }

    .bus-left {
        clear: both;
        width: 80%;
        float: left;
    }

    .bus-right {
        clear: both;
        float: right;
        display: block;
    }



    .cmd-button {
        width: 18%
    }

    .bus-Buttons {
        width: 100%;
        height: 35px;
        background-color: burlywood;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}