html {
    width: 100%;
    margin: 0;
}

body {
    max-width: 100%;
    margin: auto;
    background-color: #e2df9a;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
}


/* INNE */

* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* HEADER */
/* FORMATOWANIE TABEL*/
.dualCol table,
.singleCol table,
#selectadd-table {
    font-family: "antipastopro-demibold", Tahoma, Arial, sans-serif;
    border-collapse: collapse;
}

    .dualCol table tr:nth-child(even),
    .singleCol table tr:nth-child(even) {
        background-color: #e1dc37;
    }

    .dualCol table th,
    .singleCol table th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        background-color: #003300;
        color: #ebe54d;
    }

    .dualCol table td,
    .dualCol table th,
    .singleCol teble td,
    .singleCol table th {
        border: 1px solid #e1dc37;
    }

#addSection-table {
    margin-top: 40px;
}


#lb_errorAdd,
#lb_errorSearch,
#lb_errorEdit {
    font-size: 0.8rem;
    font-weight: bold;
    color: darkred;
}

.odstep {
    padding: 1px;
}

.odstep-small {
    padding: 2px;
}

.odstep-max {
    text-align: center;
    height: 42px;
}

.dane-C1 {
    padding: 2px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 2px 1px 1px #fff;
    color: #ff0051;
}

.dane-C2 {
    padding: 4px 15px 4px 15px;
    font-size: 1rem;
}

.dane-C3 {
    padding: 2px 15px;
    font-size: 0.9rem;
    text-shadow: 2px 1px 1px #fff;
    color: darkred;
}

.dane-C4 {
    padding: 2px 15px;
    font-size: 0.9rem;
    color: black;
}

.opis {
    padding: 5px 15px;
    font-size: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    font-style: unset;
    background-color: #e1dc37;
    text-shadow: 2px 2px 2px #8f8e8e;
}

.daneApply {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}

.bylo {
    color: darkgreen;
}

.bedzie {
    color: darkred;
}

.stopka {
    padding: 3px 15px;
}

.center {
    text-align: center;
}

.photo {
    padding: 5px;
    width: 105px;
    height: 140px;
    background-color: #e1dc37;
}

.fu {
    width: 220px;
}

.fu-Apply {
    width: 55px;
    background-color: #cfc817;
    font-size: 0.8rem;
    font-weight: bold;
    color: #003300;
    border-color: #ded821;
    margin: 0.3rem 0.1rem 0.3rem 0;
}

    .fu-Apply:hover {
        background-color: #003300;
        border-color: #ded821;
        color: #ebe54d;
    }




/* LOGIN PAGE POSITIONING TABLE */

.singleCol {
    display: table-cell;
}

    .singleCol table {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }




/* SELF EDIT and ADD POSITION TABLES */

.dualCol {
    max-width: 800px;
    margin: 2rem auto;
    height: auto;
    display: flex;
    clear: both;
    border: 2px solid red;
}

.left-Column,
.right-Column {
    overflow: hidden;
    width: 50%;
    height: auto;
    padding: 0 10px 0 10px;
}

    .right-Column table {
        margin-left: 20px;
    }

.fl_Left table {
    float: right;
}

.fl_Right table {
    float: left;
}

.dualCol table {
    margin: 10px;
}



/* BUTTONY */

.singleBt {
    background-color: #cfc817;
    font-size: 0.9rem;
    font-weight: bold;
    color: #003300;
    border-color: #ded821;
    margin: 0.3rem 0.1rem 0.3rem 0;
}

.dualBt {
    width: 48%;
    background-color: #cfc817;
    font-size: 0.9rem;
    font-weight: bold;
    color: #003300;
    border-color: #ded821;
    margin: 0.3rem 0.1rem 0.3rem 0;
}

    .singleBt:hover,
    .dualBt:hover {
        background-color: #003300;
        border-color: #ded821;
        color: #ebe54d;
    }




/* INPUTY */

#ddl_dzial:hover,
#ddl_etatAdd:hover,
#ddl_wojewodztwo:hover,
#ddl_wojewodztwo1:hover,
#inp_wojewodztwo:hover,
#tb_companyIdAdd:hover,
#tb_imieAdd:hover,
#tb_nazwiskoAdd:hover,
#tb_peselAdd:hover,
#tb_passAdd:hover,
#tb_miastoAdd:hover,
#tb_ulicaAdd:hover,
#tb_ulicaNrAdd:hover,
#tb_kodPocztowyAdd:hover,
#tb_mieszkanieAdd:hover,
#tb_mailAdd:hover,
#tb_prefixAdd:hover,
#tb_telefonAdd:hover,
#tb_mobileAdd:hover,
#tb_sectionAdd:hover,
#inp_miasto:hover,
#inp_ulica:hover,
#inp_ulicaNr:hover,
#inp_mieszkanieNr:hover,
#inp_kodPocztowy:hover,
#inp_email:hover,
#inp_kierunkowy:hover,
#inp_telefon:hover,
#inp_komorka:hover,
#inp_login:hover,
#inp_pass:hover {
    border: 1px solid #003300;
    background-color: #ffff66;
}

#ddl_dzial:focus,
#ddl_etatAdd:focus,
#ddl_wojewodztwo:focus,
#ddl_wojewodztwo1:focus,
#inp_wojewodztwo:focus,
#tb_companyIdAdd:focus,
#tb_imieAdd:focus,
#tb_nazwiskoAdd:focus,
#tb_peselAdd:focus,
#tb_passAdd:focus,
#tb_miastoAdd:focus,
#tb_ulicaAdd:focus,
#tb_ulicaNrAdd:focus,
#tb_kodPocztowyAdd:focus,
#tb_mieszkanieAdd:focus,
#tb_mailAdd:focus,
#tb_prefixAdd:focus,
#tb_telefonAdd:focus,
#tb_mobileAdd:focus,
#tb_sectionAdd:focus,
#inp_miasto:focus,
#inp_ulica:focus,
#inp_ulicaNr:focus,
#inp_mieszkanieNr:focus,
#inp_kodPocztowy:focus,
#inp_email:focus,
#inp_kierunkowy:focus,
#inp_telefon:focus,
#inp_komorka:focus,
#inp_login:focus,
#inp_pass:focus {
    background-color: #ffccff;
    font-weight: bold;
}

#Upload {
    background-color: red;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}

    #Upload input {
        background-color: blue;
    }

#tb_sectionAdd {
    margin-left: 10px;
    margin-right: 10px;
}

#lb_confirmSection {
    text-align: center;
    width: 200px;
}






/* STOPKA */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #003300;
    color: #ebe54d;
    font-size: 0.7rem;
    text-align: center;
}






/* INNE ROZNOSCI */

.confirmPhoto {
    vertical-align: top;
}

#img_confirmAdd_Photo {
    margin-top: 4px;
}










.dane1 {
    padding: 5px 15px;
}

.dane2 {
    padding: 5px 15px;
    text-align: center;
}



.header {
    background-color: #003300;
}


.test-View {
    overflow: hidden;
    position: absolute;
    width: 50%;
    height: 80%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid green;
}

.topnav,
.siteInfo {
    overflow: hidden;
    width: 50%;
    height: auto;
    margin: 10px;
    background-color: #003300;
}

    .topnav a {
        float: left;
        color: #ebe54d;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        margin-right: 10px;
    }

        .topnav a:hover {
            color: #ff0051;
        }

    .siteInfo a {
        float: right;
    }

#lb_loggedUser,
#lb_errorMsg {
    color: #ff0051;
}

#lb_loggedUserDesc {
    color: #e2df9a;
}

#lb_loggedUser,
#lb_loggedUserDesc,
#lb_errorMsg {
    margin-right: 10px;
    font-size: 0.9rem;
}

.home-table {
    border-collapse: collapse;
    max-width: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}










@font-face {
    font-family: 'antipastopro-demibold';
    src: url('fonts/antipastopro-demibold-webfont.woff2') format('woff2'), url('fonts/antipastopro-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
